extends layout

block content
  h1 Pokemon Cards
  include mixins/pokemonCard
  div.container
    div.add-button-row
      a.button.save(href="/add") Add Restaurant
    each pokemon in pokemons
      +pokemonCard(pokemon)


















