extends layout

block content
  h1 Pokemon Cards

    div.card
      div.name Unown
        div.hp HP
          div.numberhp 40
          div.icon
            img.type(src='/images/phsychic_type-removebg-preview.png')
      div.image
        img(src='https://img.pokemondb.net/artwork/avif/unown.avif')

      div.power
        div.attack1 Tackle
        div.energycard
          img.energy(src='/images/normal_type-removebg-preview.png')
        div.damage 20

      div.power
        div.attack2 Hidden Power
        div.damage2 50
        div.energycard2
          img.energy2(src='/images/normal_type-removebg-preview.png')
          img.energy3(src='/images/phsychic_type-removebg-preview.png')

      div.randomline

      div.weakness
        div.weaknessword weakness
        img.energy4(src='/images/phsychic_type-removebg-preview.png')

      div.resistance resistance