body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card.psychic {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #ad73b0;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.electric {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #f0c726;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.fairy {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #f8c1f6;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.steel {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #d6dcde;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.rock {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #8a7340;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.normal {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #c7c3c1;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.fighting {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #8c3222;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.ice {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #6bcbe7;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.grass {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #7ac040;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.fire {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #dc2e0b;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.water {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #0372be;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.bug {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #898c18;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.poison {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #9f56a3;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.ghost {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #584e9b;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.flying {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #91a6e4;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.dragon {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #5b3773;
  border-radius: 13px;
  margin-bottom: 10px;
}

.card.ground {
  height: 300px;
  width: 220px;
  border: 7px solid #ebd143;
  background-color: #cfb266;
  border-radius: 13px;
  margin-bottom: 10px;
}












.name {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.hp {
  font-size: 8px;
  margin-top: -10px;
  margin-left: 135px;
  font-weight: bold;
}

.numberhp {
  font-size: 14px;
  margin-top: -15px;
  margin-left: 20px;
}

.image {
  background-color: white;
  margin-top: -5px;
  margin-left: 13px;
  height: 120px;
  width: 190px;
  border: 2px solid #8a8a8a;
}

img {
  margin-top: 10px;
  margin-left: 60px;
  height: 100px;
  width: 90px;
}

.type {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: 39px;
}

.icon {
  margin-top: -25px;
  margin-bottom: 5px;
  margin-left: 40px;
  height: 20px;
  width: 20px;
}

.attack1 {
  font-size: 14px;
  margin-left: 70px;
  margin-top: 20px;
  font-weight: bold;
}

.energycard {
  width: 20px;
  height: 20px;
  margin-left: -45px;
  margin-top: -22px;
}

.energy {
  width: 20px;
  height: 20px;
  margin-right: 200px;
  margin-top: 5px;
}

.damage {
  font-size: 14px;
  margin-left: 170px;
  margin-top: -14px;
  font-weight: bold;
}

.attack2 {
  height: 30px;
  font-size: 14px;
  margin-left: 70px;
  margin-top: 25px;
  font-weight: bold;
}

.energycard2 {
  margin-top: -12px;
}
.energy2 {
  width: 20px;
  height: 20px;
  margin-left: 35px;
  margin-top: -50px;
}

.energy3 {
  width: 20px;
  height: 20px;
  margin-left: -40px;
  margin-top: -70px;
}

.damage2 {
  font-size: 14px;
  margin-top: -30px;
  margin-left: 170px;
  font-weight: bold;
}

.randomline {
  background-color: #d3d3d3;
  margin-left: 20px;
  margin-top: 20px;
  width: 180px;
  height: 1px
}

.weaknessword {
  font-size: 9px;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: bold;
}

.energy4 {
  width: 20px;
  height: 20px;
  margin-left: 26px;
  margin-top: 0px;
}

.resistance {
  font-size: 9px;
  margin-top: -33px;
  margin-left: 155px;
  font-weight: bold;
}

.energy5 {
  width: 20px;
  height: 20px;
  margin-left: 13px;
  margin-top: 0px;
}

.add {
  height: 40px;
  width: 75px;
  margin-bottom: 15px;
  font-weight: bold;
  background-color: #398dd2;
  border-radius: 6px;
  border-width: 2px;
  border-color: #d7d7d7;
  color: white;
  box-shadow: 1px 1px 1px 1px #4b4b4d;
  font-size: 12px;
}

.textco {
  color: white;
}

.button.cancel {
  background-color: #4f98c0;
  font-weight: bold;
  color:white;
  border-radius: 10px;
  padding: 5px;
}

.button-row {
  margin-top: 20px;
}